@import "./mixins.scss";
@import "./variables.scss";

#root{
  @include flex-center(column);

}

.header{
  margin: 1.5rem 1.3rem;
  border: 0.5rem solid $blue-3;
  box-shadow: 0.8rem 0.8rem $blue-4;
  @include flex-center(column);
  @font-face {
    font-family: 'FatCat';
    src: url('../assets/font/FatCat.ttf');
  };
  font-family: 'FatCat';
  -webkit-text-stroke: 0.5rem white;
  & h1{
    font-style: italic;
    font-size: 3.5rem;
    text-align: center;
    -webkit-text-stroke: 1rem white;
  }

  paint-order:stroke fill;
  color:$blue-4;
  padding: 1.8rem;
  border-radius: 2rem;
  background-color: $beige;

  &:hover{
    background-color: $blue-4;
    // border: 0;
    transform: translateY(-0.5rem);
    transition: 200ms ease-in-out
  }
}

.content{

  @include flex-center(row);
  // border: 1rem solid white;
  // background-color: #EEE3CB;
  padding: 1rem 0.5rem;
  // border-radius: 1.5rem;
  width:100%;
  // filter: drop-shadow(0 0 2rem #e9c7a9)
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
